<% include partials/header %>
  <div class="container">
    <h1> urlABRIDGED </h1>

    <form class="form" action="/links" method="post">
      <div class ="form-group" id="formDiv">
        <input type="text" name="inputUrl" class="form-control" id="inputBox" placeholder="Enter your URL here.">
      </div>
      <input type="submit" value="Submit" class="btn btn-primary" id="submitButton">
    </form>
  </div>



<% include partials/footer %>

