<% include partials/header %>

<div class="container">
  <h2>Your ABRIDGEDUrl has been generated.</h2>

  <div>
    <p id="shortUrlField">
    <%= shortUrl %>
    </p>
  </div>

</div>

<% include partials/footer %>